<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Formulario</title>
</head>
<body>
    <header class="headerContainer">
        <a class="title1" href="/">Autos y Gatos</a>
    </header>
    <h1>Formulario de Registro de autos</h1>
    <div>
        <label for="modelo">Modelo de Auto: *</label>
        <input type="text" id="modelo" required><br>
        <label for="resumen">Descripcion de Auto : *</label>
        <input type="text" id="dojoDirection" required><br>
        <input type="submit" id="" value="Registrar">
    </div>
    <footer>
        <p>*Indicate a required field</p>
    </footer>
</body>
</html>