<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Autos</title>
</head>
<body>
    <header class="headerContainer">
        <a class="title1" href="/">Autos y Gatos</a>
    </header>
    <main class="mainContainer">
        <section class="container">
            <h2 class="title2">S.Presso</h2>
            <img class="img" src="/images/spresso.jpg" alt="car_img">
            <ul class="description">
                <li class="properties">
                    <h3 class="subtitle">Transmisión</h3><br>
                    <p class="text">Mecánica 5 velocidades</p><br>
                </li>
                <li class="properties">
                    <h3 class="subtitle">Capacidad de pasajeros</h3><br>
                    <p class="text">5</p><br>
                </li>
                <li class="properties">
                    <h3 class="subtitle">Tracción</h3><br>
                    <p class="text">4x2 Delantera</p><br>
                </li>
            </ul>
        </section>
        <section class="container">
            <h2 class="title2">XL-7</h2>
            <img class="img" src="/images/xl7.jpg" alt="car_img">
            <ul class="description">
                <li class="properties">
                    <h3 class="subtitle">Transmisión</h3><br>
                    <p class="text">Mecánica 5 velocidades</p><br>
                </li>
                <li class="properties">
                    <h3 class="subtitle">Capacidad de pasajeros</h3><br>
                    <p class="text">7</p><br>
                </li>
                <li class="properties">
                    <h3 class="subtitle">Tracción</h3><br>
                    <p class="text">4x2 Delantera</p><br>
                </li>
            </ul>
        </section>
        <section class="container">
            <h2 class="title2">Jimny</h2>
            <img class="img" src="/images/jimny.jpg" alt="car_img">
            <ul class="description">
                <li class="properties">
                    <h3 class="subtitle">Transmisión</h3><br>
                    <p class="text">Mecánica 5 velocidades</p><br>
                </li>
                <li class="properties">
                    <h3 class="subtitle">Capacidad de pasajeros</h3><br>
                    <p class="text">4</p><br>
                </li>
                <li class="properties">
                    <h3 class="subtitle">Tracción</h3><br>
                    <p class="text">4x4 Part Time - ALLGRIP PRO</p><br>
                </li>
            </ul>
        </section>
        <section class="container">
            <h2 class="title2">Vitara</h2>
            <img class="img" src="/images/vitara.jpg" alt="car_img">
            <ul class="description">
                <li class="properties">
                    <h3 class="subtitle">Transmisión</h3><br>
                    <p class="text">Mecánica 5 velocidades</p><br>
                </li>
                <li class="properties">
                    <h3 class="subtitle">Capacidad de pasajeros</h3><br>
                    <p class="text">5</p><br>
                </li>
                <li class="properties">
                    <h3 class="subtitle">Tracción</h3><br>
                    <p class="text">4x2 Delantera</p><br>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>