<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Gatos</title>
</head>
<body>
    <header class="headerContainer">
        <a class="title1" href="/">Autos y Gatos</a>
    </header>
    <main class="mainContainer">
        <section class="container">
            <h2 class="title2">Russian Blue Cat</h2>
            <img class="img" src="/images/RussianBlue.jpg" alt="cat_img">
            <ul class="description">
                <li class="properties">
                    <h3 class="subtitle">Size</h3><br>
                    <p class="text">Medium, weighing 8 to 15 pounds</p><br>
                </li>
                <li class="properties">
                    <h3 class="subtitle">Coat</h3><br>
                    <p class="text">Short, dense, fine, plush</p><br>
                </li>
                <li class="properties">
                    <h3 class="subtitle">Color</h3><br>
                    <p class="text">Blue with silver tips</p><br>
                </li>
            </ul>
        </section>
        <section class="container">
            <h2 class="title2">Japanese Bobtail Cat</h2>
            <img class="img" src="/images/JapaneseBobtail.jpg" alt="cat_img">
            <ul class="description">
                <li class="properties">
                    <h3 class="subtitle">Size</h3><br>
                    <p class="text">Medium, with males weighing 7 to 10 pounds and females weighing 5 to 7 pounds</p><br>
                </li>
                <li class="properties">
                    <h3 class="subtitle">Coat</h3><br>
                    <p class="text">Long (longhaired) and short (shorthaired)</p><br>
                </li>
                <li class="properties">
                    <h3 class="subtitle">Color</h3><br>
                    <p class="text">White, black, red, blue and cream, plus various patterns and shadings</p><br>
                </li>
            </ul>
        </section>
        <section class="container">
            <h2 class="title2">Bengal Cat</h2>
            <img class="img" src="/images/Bengal.jpg" alt="cat_img">
            <ul class="description">
                <li class="properties">
                    <h3 class="subtitle">Size</h3><br>
                    <p class="text">Medium to large with males: 10 to 18 pounds and females: 6 to 12 pounds</p><br>
                </li>
                <li class="properties">
                    <h3 class="subtitle">Coat</h3><br>
                    <p class="text">Medium</p><br>
                </li>
                <li class="properties">
                    <h3 class="subtitle">Color</h3><br>
                    <p class="text">Bright orange to light brown, with dark spots or a distinctive marbling pattern</p><br>
                </li>
            </ul>
        </section>
        <section class="container">
            <h2 class="title2">Somali Cat</h2>
            <img class="img" src="/images/Somali.jpg" alt="cat_img">
            <ul class="description">
                <li class="properties">
                    <h3 class="subtitle">Size</h3><br>
                    <p class="text">Medium to large, with males weighing 10 to 12 pounds and females weighing 6 to 10 pounds</p><br>
                </li>
                <li class="properties">
                    <h3 class="subtitle">Coat</h3><br>
                    <p class="text">Medium, fine, soft</p><br>
                </li>
                <li class="properties">
                    <h3 class="subtitle">Color</h3><br>
                    <p class="text">Ruddy, red, blue, fawn</p><br>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>