<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Pagina Saludo</title>
</head>
<body>
    <header class="headerContainer">
        <h1 class="title1">Autos y Gatos</h1>
    </header>
    <nav class="navBar">
        <h2 class="title2">Secciones</h2>
        <ul class="description">
            <li class="properties">
                <a class="link" href="/cats">Gatos</a>
            </li>
            <li class="properties">
                <a class="link" href="/cars">Autos</a>
            </li>
            <li class="properties">
                <a class="link" href="/carForm">Formulario Ingreso Auto Nuevo</a><br>
            </li>
        </ul>

    </nav>
</body>
</html>